<!DOCTYPE html>
<html>
  <head>
    <title>Login - Wormfic.net</title>
  </head>
  <body>
    <h1>Wormfic.net</h1>
    <h2>Login</h2>
    <form method="POST">
      <label for="inputUsername">Username</label>
      <input name="username" id="inputUsername" placeholder="Username" required="required" autofocus="autofocus">
      <label for="inputPassword">Password</label>
      <input name="password" type="password" id="inputPassword"placeholder="Password" required="required">
      <button name="login" type="submit">Sign in</button>
    </form>
    <h2>Register</h2>
  </body>
</html>
